pydantic
pydantic-settings
scikit-learn
sqlalchemy
mlflow-skinny
pandas
fastapi
mlflow
joblib
psycopg2-binary

opentelemetry-api==1.41.1
opentelemetry-sdk==1.41.1

opentelemetry-exporter-otlp==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-exporter-otlp-proto-http==1.41.1

opentelemetry-instrumentation==0.62b1
opentelemetry-instrumentation-asgi==0.62b1
opentelemetry-instrumentation-fastapi==0.62b1

opentelemetry-proto==1.41.1
opentelemetry-semantic-conventions==0.62b1
opentelemetry-util-http==0.62b1